<!DOCTYPE html>
<html>
  <head>
    <title>MapProject<%=(@page_title and @page_title.present?) ? " - #{@page_title}" : ""%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'map' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css">

    <!-- bootstrap4 -->
 
  </head>
  <body>
    <% if !current_user.nil? %>
        <header class="row bg-purple">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-sm bg-light text-right">
                    <%= link_to destroy_user_session_path, method: :delete do %><h2>Log out</h2><% end %>
                </nav>
            </div>
        </header>
    <%end%>
    <% if current_user.nil? %>
        <%if action_name != "new"%>
            <%= link_to new_user_session_path, class: 'login-button' do %>Sign in<% end %>
        <%end%>
    <% else %>
        <h2>Welcome <strong><%=current_user.fullname%></strong> to Location Sharing App</h2>
    <%end%>
    <!-- <p class = "notice" ><%#= notice %> </p>
    <p class = "alert" ><%#= alert %></p> -->
    <%= yield %>
    <%= javascript_pack_tag 'map' %>
    <div id=pagetitle type="hidden" title="<%=@page_title%>" username="<%=(params[:id] and params[:id].present? ? params[:id] : "")%>"=></div>
  </body>

</html>
